<div class="register navi_popup" <%=App.Controllers.Register%>>
    <h3>Please register</h3>
    <form action="">
        <p>
            <label class="required">Name</label><input type="text" class="rounded" name="name" value="">
        </p>
        <p>
            <label class="required">Email</label><input type="text" class="rounded" name="email" value="">
        </p>
        <p>
            <label class="required">Password</label><input type="password" class="rounded" name="password" value="">
        </p>
        <p>
            <label class="required">Repeat</label><input type="password" class="rounded" name="passwordRepeat" value="">
        </p>
        <p class="button_group">
            <a href="#" class="button active login"><span>Register</span></a>
            <a href="#" class="button passive cancel"><span>Cancel</span></a>
        </p>
    </form>
</div>